:root {
  --primary: #000;
  --on-primary: #fff;

  --text_primary: rgba(0, 0, 0, 0.9);
  --text_secondary: rgba(0, 0, 0, 0.5);
  --text_tertiary: rgba(0, 0, 0, 0.3);

  --background_level-1: #fff;
  --background_level-2: #fff;
  --background_placeholder: #f5f5f5;
  --background_card: rgba(255, 255, 255, 0.5);
}
